body{
    margin: 0;
    padding: 0;
}
h1{
    padding-left: 45%;
    padding-right: 30%;
    font-size: xx-large;
    margin:0;
    padding-top:1%;
    padding-bottom: 1%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    align-items: stretch;
    display:flex;
    justify-content: space-between;
}
li{
    float: left;
    padding-left:1%;
    padding-right: 1%;
}
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;

}
li a:hover {
    background-color: #111;
}
.container {
    background-color: rgba(50, 37, 170, 0.89);
    font-family: "Arial Black";
    color: white;
    padding-bottom: 1%;
}
div{
    margin-left:45%;
    margin-top:5%;
    font-size: large;
    font-family: "Arial";
    width:480px;
}
table{
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid black;
}
td{
    padding:10px;
}
th{
    background-color:#fcf4ea;
}
p{
    font-style: oblique;
}

