.dep{
    margin-top: 10%;
    text-align: center;
    border: 1em double orangered;
    width: fit-content;
    margin-left:auto;
    margin-right: auto;
    font-size: 1em;
    padding-bottom: 2%;
}
#addbut{
    display: block;
    background-color: #2cac40;
    color:white;
    border-radius: 3.5em;
    padding: 0.6em 0em;
    font-size: 1vw;
    font-family: "Arial Black";
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-left: 25%;
    margin-top: 10%;
    width:50% ;
    height:20%;
}
@media screen and (max-width: 450px)
{
    .dep{
        width: fit-content;
    }
    #addbut{
        font-size: 3vw;
    }
}